<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>

      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div id="error-page">
         <div class="content">

            <h2 data-text="PURCHASED">
              PURCHASED
            </h2>
            <p>
               you have bought the coin
            </p>
            <div class="btns">
               <form method="post" action="return">

                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Return to profile page</button>

               </form>
            </div>
         </div>
      </div>
   </body>
</html>